.addOnContainer {
    height: 100%;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CAD4E2;
}

.date {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: flex-end;
    padding: 10px;
    color: #717070;
    font-size: 12px;
}

.date div {
    margin: 5px;
}

.detailsCard {
    display: flex;
    justify-content: space-evenly;
}

.detailsCard .card {
    width: 240px;
    height: 150px;
    font-size: 12px;
    text-align: center;
    background-color: #83838321;
    border-radius: 8px;
    margin: 30px;
}

.detailsCard .card div:nth-child(1) {
    position: relative;
    top: 40px;
}

.detailsCard .card div:nth-child(2) {
    position: relative;
    top: 70px;
    font-weight: 600;
}

.detailsCard .graph {
    width: 448px;
    height: 250px;
    background-color: #83838321;
    border-radius: 8px;
    opacity: 0px;
    margin: 10px 30px;
}

.content {
    background-color: #F3F2F2;
}

.detailsCard .total {
    color: #0298EC;
}

.detailsCard .approved {
    color: #30B401;
}

.detailsCard .rejected {
    color: #B40C01;
}

/* Date Picker */

.datePickerContainer {
    display: inline-flex;
    align-items: center;
}

.datePickerContainer .MuiStack-root {
    padding-top: 0;
    margin: 0;
}

.datePickerContainer .MuiFormControl-root {
    min-width: 100px;
}

.datePickerContainer .MuiInputBase-input {
    font-size: 12px;
    width: 70px;
    height: 0px;
    padding: 15px 5px;
}

.datePickerContainer .MuiButtonBase-root {
    width: 20px;
}

.datePickerContainer .MuiButtonBase-root svg {
    width: 20px;
    height: 20px;
}

.supplierGridContainer {
    background-color: #fff;
    height: calc(100% - 470px);
}

.supplierGridContainer .supplierGrid {
    height: calc(100% - 40px);
    overflow-y: auto;
}

.supplierGridContainer .filterContiner {
    display: flex;
    justify-content: space-between;
}

.supplierGridContainer .grid-filter{
    position: relative;
    display: inline;
}

.filter-container{
    position:absolute;
    border: 1px solid #CAD4E2;
    padding: 10px;
    display: inline;
    left: 15px;
    top: 35px;
    background-color: #fff;
    z-index: 9;
    width: 375px;
    max-height: 350px;
    overflow-y: auto;
}

.filter-container .filter-title p{
    display: inline-flex;
    font-size: 12px;
}

.filter-container .searchInput{
    width: 250px !important;
}

.filter-container .filter-list{
    margin: 5px;
    padding: 0px 30px;
    overflow-y: auto;
    max-height: 150px;
}

.filter-container .filter-content{
    display: none;
}

.filter-container .filter-item:has(.expand){
    background-color: #97979714;
}

.filter-container .expand img{
    transform: rotate(90deg);
    transition: 0.3s;
}

.filter-container .filter-title.expand ~.filter-content{
    display: block !important;
}

.filter-container .filter-list input{
    margin: 0 5px;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.filter-container .filter-list label{
    font-size: 12px;
}

.filter-container .filter-action{
    position: relative;
    left: calc(100% - 170px);
    display: inline;
}

.filter-container .filter-action .cancel{
    border: 1px solid #5A5A5A;
    padding: 5px;
    border-radius: 4px;
    margin: 10px;
    width: 65px;
}

.filter-container .filter-action .apply{
    padding: 5px;
    border-radius: 4px;
    margin: 10px;
    background-color:#0298EC;
    color: #fff;
    width: 65px;
}

.supplierGridContainer .searchInput {
    background-image: url('../../public/search.svg');
    background-position: 10px;
    background-repeat: no-repeat;
    padding-left: 35px;
    border: 1px solid #DBDBDB;
    border-radius: 6px;
    height: 30px;
    width: 385px;
    margin: 15px;
}

.supplierGridContainer .sortBtn {
    border: 1px solid#CAD4E2;
    width: 120px;
    border-radius: 6px;
    height: 25px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;
}

.supplierGridContainer .filterCount {
    width: 15px;
    height: 15px;
    border-radius: 12px;
    background-color: #0298EC;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
}

.supplierGridContainer .statusFilter {
    margin: 0 30px 0 10px;
}

.supplierGridContainer .statusFilter label {
    margin: 0 10px 0 20px;
    font-size: 12px;
    color: #717070;
    cursor: pointer;
}

.supplierGridContainer .statusFilter input {
    position: relative;
    top: 4px;
    cursor: pointer;
}

.supplierGridContainer .gridHeader {
    display: flex;
    justify-content: space-around;
}

.supplierGridContainer thead input[type="checkbox"] {
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.supplierGridContainer table tbody tr td {
    font-size: 12px;
    color: #717070;
}

.submitBtn button {
    position: relative;
    left: calc(100% - 160px);
    padding: 10px 30px;
    background: #DBDBDB;
    border-radius: 6px;
    margin: 10px 0;
}

.supplierGrid .rejected {
    color: #B40C01;
}

.supplierGrid .approved {
    color: #30B401;
}



/* Error Modal */

.errorReviewModal {
    width: 100%;
}

.MuiModal-root .css-1wnsr1i:has(> .errorReviewModal) {
    width: 90% !important;
    border: none !important;
    border-radius: 8px;
    outline: none;
}

.errorReviewModal .title{
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
}

.errorReviewModal .title img{
    cursor: pointer;
}

.errorReviewModal table textarea{
    width: 250px;
    height: 96px;
    background: #EEEEEE;
    border-radius: 6px;
    outline: none;
    padding: 10px;
}

.errorReviewModal .footer{
    position: relative;
}

.errorReviewModal button{
    margin: 10px 20px;
    border-radius: 6px;
    position: relative;
    left: 78%;
    height: 40px;
    width: 100px;
    background: #DBDBDB;
}

.errorReviewModal button:nth-child(1){
    background: white;
    border: 1px solid #5A5A5A;
}

.errorReviewModal .errorText{
    color: #FF0202;
}

.errorReviewModal .errorText div{
    margin: 5px 0;
}

.errorReviewModal .errorText span{
    color: #5A5A5A;
    font-weight: 500;
    margin: 5px 0;
}